.cta {
  box-sizing: border-box;
  margin-left: 8.8rem;
  margin-top: 50px;
  width: 1080px;
  height: 172.65px;
  left: 135px;
  top: 3178px;
  padding: 1rem 8.8rem;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  display: flex;
}
.cta-content > p {
  width: 318.87px;
  height: 46.89px;
  left: 181px;
  top: 3224.21px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */

  color: #0e0e0e;
}
.cta-content > h1 {
  width: 710px;
  height: 70.34px;
  left: 181px;
  top: 3251.41px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  /* or 188% */

  color: #000000;
}
.cta-content-button > button {
    width: 189.14px;
height: 59.4px;
left: 1078.74px;
top: 3235.41px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
/* identical to box height, or 167% */
color: #FFFFFF;
background: #000000;
border-radius: 40px;
}
.cta-content-button{
    display: flex;
    justify-content: center;
    align-self: center;
}
